<section class="flex-container">
    <div class="flex-item right-block">
        <div class="content-wrapper">
            <div>
                <div class="title_Bloque">

                    <div class="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="43" viewBox="0 0 10 43">
                            <line id="Línea_10" data-name="Línea 10" y2="33" transform="translate(5 5)" fill="none"
                                stroke="#e89002" stroke-linecap="round" stroke-width="10"></line>
                        </svg>
                    </div>

                    <h2 class="">Por asistir a este curso</h2>
                </div>
                <ul>
                    <li>Cada alumno recibirá un manual...</li>
                    <li>A cada alumno se le proporcionará un completísimo repositorio...</li>
                    <li>Diploma y Certificado de presencia y aprovechamiento del curso...</li>
                    <li>Asesoría y resolución de dudas después del curso...</li>
                    <li>Seguro de responsabilidad civil...</li>
                    <li>Indumentaria necesaria para practicar en el apiario...</li>
                    <li>Café, té, zumos, dulces y fruta para reponer fuerzas...</li>
                </ul>
            </div>
            <div>
                <div class="title_Bloque">

                    <div class="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="43" viewBox="0 0 10 43">
                            <line id="Línea_10" data-name="Línea 10" y2="33" transform="translate(5 5)" fill="none"
                                stroke="#e89002" stroke-linecap="round" stroke-width="10"></line>
                        </svg>
                    </div>

                    <h2 class="">Información importante</h2>
                </div>
                <p>Recuerda traer ropa y calzado que sea cómoda y práctica para salir al campo.</p>
                <p>Si vienes de lejos y necesitas quedarte a dormir por la zona, te podemos ayudar con la gestión
                    del alojamiento, con precios muy competitivos.</p>
                <p>El curso está formado por una parte teórica y otra práctica, en la que los alumnos podrán tener
                    contacto con las abejas, manejar una colmena, etc., en definitiva repasar y tocar in situ todo
                    lo visto en la parte teórica.</p>
                <p>La parte práctica se hará en un apiario, situado junto al aula de formación, evitando así
                    perdidas de tiempo en desplazamientos.</p>
                <p>Para garantizar la calidad y atención personalizada, todos nuestros cursos tienen plazas
                    limitadas, por lo que es necesario reservar previamente para asegurase de la disponibilidad de
                    plazas.</p>
            </div>
            <div>
                <div class="title_Bloque">

                    <div class="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="43" viewBox="0 0 10 43">
                            <line id="Línea_10" data-name="Línea 10" y2="33" transform="translate(5 5)" fill="none"
                                stroke="#e89002" stroke-linecap="round" stroke-width="10"></line>
                        </svg>
                    </div>

                    <h2>Por asistir a este curso</h2>
                </div>
                <ul>
                    <li>Cada alumno recibirá un manual...</li>
                    <li>A cada alumno se le proporcionará un completísimo repositorio...</li>
                    <li>Diploma y Certificado de presencia y aprovechamiento del curso...</li>
                    <li>Asesoría y resolución de dudas después del curso...</li>
                    <li>Seguro de responsabilidad civil...</li>
                    <li>Indumentaria necesaria para practicar en el apiario...</li>
                    <li>Café, té, zumos, dulces y fruta para reponer fuerzas...</li>
                </ul>
            </div>
        </div>
        <button class="button_main" routerLinkActive="activebutton" ariaCurrentWhenActive="page" routerLink="/">
            Reservar Curso
        </button>
    </div>
    <div class="flex-item left-block">
        <div class="content-wrapper">
            <button class="button_main" routerLinkActive="activebutton" ariaCurrentWhenActive="page" routerLink="/registration">
                Reservar Curso
            </button>
            <div class="title_Bloque">

                <div class="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="43" viewBox="0 0 10 43">
                        <line id="Línea_10" data-name="Línea 10" y2="33" transform="translate(5 5)" fill="none"
                            stroke="#e89002" stroke-linecap="round" stroke-width="10"></line>
                    </svg>
                </div>

                <h2 class="">Temario</h2>
            </div>
            <p><strong>INTRODUCCIÓN A LA APICULTURA</strong></p>
            <p>Conceptos básicos de apicultura<br>
                Apicultura fijista y movilista<br>
                Apicultura sedentaria y trashumante
            </p>

            <div class="additional-content" [class.show]="showMore">
                <p><strong>Modulo 2</strong></p>
                <p> Tema 1<br>
                    Tema 2<br>
                    Tema 3
                </p>
                <p><strong>Modulo 3</strong></p>
                <p> Tema 1<br>
                    Tema 2<br>
                    Tema 3
                </p>
                <p><strong>Modulo 3</strong></p>
                <p> Tema 1<br>
                    Tema 2<br>
                    Tema 3
                </p>
                <p><strong>Modulo 3</strong></p>
                <p> Tema 1<br>
                    Tema 2<br>
                    Tema 3
                </p>
                <p><strong>Modulo 3</strong></p>
                <p> Tema 1<br>
                    Tema 2<br>
                    Tema 3
                </p>
                <p><strong>Modulo 3</strong></p>
                <p> Tema 1<br>
                    Tema 2<br>
                    Tema 3
                </p>
                <p><strong>Modulo 3</strong></p>
                <p> Tema 1<br>
                    Tema 2<br>
                    Tema 3
                </p>
                <p><strong>Modulo 3</strong></p>
                <p> Tema 1<br>
                    Tema 2<br>
                    Tema 3
                </p>
                <p><strong>Modulo 3</strong></p>
                <p> Tema 1<br>
                    Tema 2<br>
                    Tema 3
                </p>
                <p><strong>Modulo 3</strong></p>
                <p> Tema 1<br>
                    Tema 2<br>
                    Tema 3
                </p>
                <p><strong>Modulo 3</strong></p>
                <p> Tema 1<br>
                    Tema 2<br>
                    Tema 3
                </p>
                <p><strong>Modulo 3</strong></p>
                <p> Tema 1<br>
                    Tema 2<br>
                    Tema 3
                </p>
                <p><strong>Modulo 3</strong></p>
                <p> Tema 1<br>
                    Tema 2<br>
                    Tema 3
                </p>
                <p><strong>Modulo 3</strong></p>
                <p> Tema 1<br>
                    Tema 2<br>
                    Tema 3
                </p>
                <p><strong>Modulo 3</strong></p>
                <p> Tema 1<br>
                    Tema 2<br>
                    Tema 3
                </p>
            </div>
            <button class="button_main" (click)="toggleContent()">
                {{ showMore ? 'Mostrar menos' : 'Mostrar más' }}
            </button>
        </div>
    </div>

</section>