<section [ngClass]="{'rtl': translate.currentLang  === 'ar', 'ltr': translate.currentLang  === 'en'}">

    <section class="flex-container">
        <div class="flex-container-col">
            <section class="listing-description">
                <h2 class="listing-heading">{{coursHoney?.title}}</h2>
                <h5 class="title"> Datos del curso</h5>
                <p class="listing-location">{{coursHoney?.ubication}}</p>
                <p class="">{{'Price'|translate}}: {{coursHoney?.price | currency }}, (INCLUYE LA COMIDA DEL PRIMER DÍA)
                </p>

                <ul>
                    <li>{{'Location'|translate}}: {{coursHoney?.state}}</li>
                    <li>{{'Duration'|translate}}: {{coursHoney?.duration}}: Curso de dos días
                        <ul>
                            <li>Primer día de 8:30 a 20:00, pararemos al medio día para ir a comer todos juntos</li>
                            <li>Segundo día: de 9:00 a 13:30</li>
                        </ul>
                    </li>
                </ul>
                <p>Fechas: 6 y 7 de Julio</p>
            </section>
        </div>
        <div>
            <img class="listing-photo" [src]="coursHoney?.photo" alt="Exterior photo of {{coursHoney?.title}}" />
        </div>
    </section>

<section>
    <app-course-one></app-course-one>
</section>

    <section>
        <h2 class="title"> {{'Cours.Other_Courses'|translate}}</h2>
        <section class="results">
            <app-courses-honey *ngFor="let coursHoney of coursesHoneyList"
                [coursHoney]="coursHoney"></app-courses-honey>
        </section>
    </section>

</section>