<section [ngClass]="{'rtl': translate.currentLang  === 'ar', 'ltr': translate.currentLang  === 'en'}">

    <section class="flex-container">
        <div class="flex-container-col">
            <section class="listing-description">
                <h2 class="listing-heading">{{coursHoney?.title}}</h2>

                <div class="title_Bloque">

                    <div class="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="43" viewBox="0 0 10 43">
                            <line id="Línea_10" data-name="Línea 10" y2="33" transform="translate(5 5)" fill="none"
                                stroke="#e89002" stroke-linecap="round" stroke-width="10"></line>
                        </svg>
                    </div>

                    <h2 class="">Datos del curso</h2>
                </div>
                <p class="listing-location">{{coursHoney?.ubication}}</p>
                <p class="">{{'Price'|translate}}: {{coursHoney?.price | currency }}, (INCLUYE LA COMIDA DEL PRIMER DÍA)
                </p>

                <ul>
                    <li>{{'Location'|translate}}: {{coursHoney?.state}}</li>
                    <li>{{'Duration'|translate}}: {{coursHoney?.duration}}: Curso de dos días
                        <ul>
                            <li>Primer día de 8:30 a 20:00, pararemos al medio día para ir a comer todos juntos</li>
                            <li>Segundo día: de 9:00 a 13:30</li>
                        </ul>
                    </li>
                </ul>
                <p>Fechas: 6 y 7 de Julio</p>
            </section>
        </div>
        <div>
            <img class="listing-photo" [src]="coursHoney?.photo" alt="Exterior photo of {{coursHoney?.title}}" />
        </div>
    </section>

    <section>
        <app-course-one></app-course-one>
    </section>

    <section>
        <h2 class="title"> {{'Cours.Other_Courses'|translate}}</h2>
        <section class="results">
            <app-courses-honey *ngFor="let coursHoney of coursesHoneyList"
                [coursHoney]="coursHoney"></app-courses-honey>
        </section>
    </section>

</section>