<section>
    <div class="cart-list">
        <div class="flex-container cart-box">

            <div class="product-card">
                <div class="product-image">
                    <img [src]="housingLocation.photo" alt="Exterior photo of {{housingLocation.name}}" alt="">
                    <div class="titleCard">CARGAR IMAGEN</div>
                    <div class="overlay"></div>
                </div>
                <div class="product-info">
                    <p>CARGAR IMAGEN</p>
                    
                    <button class="CartBtn honey-color"
                        (click)="fileInput.click()">Cargar nueva imagen
                    </button>
                    <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none;" />
                </div>
            </div>




            <div class="cart-item" *ngIf="housingLocation.type=== 'HN'">
                <div class="cart-item-details">
                    {{ housingLocation.name }} -
                    {{ housingLocation.quantity }} -
                    {{ housingLocation.weight }} g -
                    {{getPrice() | currency }}
                </div>
                <div class="cart-item-actions">
                    <!-- <input class="input-quantity" type="number" [(ngModel)]="item.quantity"
                    (change)="updateItem(item.id, item.quantity, item.weight, item.price)"> -->
                    <input class="input-name" type="text" [(ngModel)]="housingLocation.name">
                    <input class="input-quantity" type="number" [(ngModel)]="housingLocation.quantity">
                    <!-- <select class="input-weight styled-select" [(ngModel)]="housingLocation.weight"> -->
                        <div class="form-inline">
                            <label for="weightSelector">Peso: </label>
                            <div class="custom-select-wrapper">
                              <select id="weightSelector" [(ngModel)]="housingLocation.weight" class="form-control custom-select">
                                <option value=" ">Peso</option>
                                <option value="1000">1000g</option>
                                <option value="500">500g</option>
                                <option value="250">250g</option>
                              </select>
                            </div>
                          </div>
                </div>
            </div>
        </div>


    </div>
</section>