
section {
    /* font-family: 'Times New Roman', Times, serif; */
    margin: 0;
    padding: 0;
      /* background-color: #ffffff; */
  /* White background for the section */
  /* padding: 20px; */
 
  width: 100%;
  /* max-width: 800px; */

  /* Soft shadow for depth */

  /* Increase line height for readability */
  font-family: 'Times New Roman', Times, serif;


  }