<section>
    <div class="flex-container ltr">
        <div class="flex-container-col">
            <h3 class="title">Condition de ventes</h3>
            <p>Nous nous engageons à fournir des produits de qualité supérieure à nos clients. Si pour une raison
                quelconque, vous
                n'êtes pas satisfait de votre achat, veuillez nous contacter dans les 14 jours suivant la réception de
                votre
                commande pour demander un remboursement.</p>
            <p>Conditions de remboursement</p>
            <ul>
                <li>Le produit doit être dans son emballage d'origine et non ouvert.</li>
                <li>Le produit doit être retourné dans les 30 jours suivant la date d'achat.</li>
                <li>Le client est responsable des frais de retour.</li>
            </ul>
            <p>Processus de remboursement</p>
            <ul>
                <li>Veuillez envoyer un e-mail à notre service clientèle à l'adresse [insérer votre adresse e-mail] pour
                    demander un
                    remboursement.</li>
                <li>Nous vous enverrons un formulaire de retour à remplir et à inclure avec votre retour.</li>
                <li>Une fois que nous avons reçu votre retour, nous effectuerons un examen de qualité pour nous assurer
                    que le
                    produit est dans son état d'origine.</li>
                <li>Si le produit est en bon état, nous traiterons votre remboursement. Veuillez noter que les
                    remboursements
                    peuvent prendre jusqu'à 14 jours pour apparaître sur votre compte.</li>
            </ul>
            <p>Exceptions</p>
            <p>Nous n'offrons pas de remboursements pour les produits suivants :</p>
            <ul>
                <li>Les produits ouverts ou utilisés</li>
                <li>Les produits expirés ou proches de leur date d'expiration</li>
                <li>Les produits endommagés pendant le transport</li>
            </ul>
            <p>Nous nous réservons le droit de refuser tout remboursement si nous déterminons que le produit a été
                ouvert,
                utilisé, expiré ou endommagé pendant le transport.</p>
            <p>Nous espérons que vous apprécierez nos produits autant que nous aimons les fabriquer. Si vous avez des
                questions ou
                des préoccupations concernant notre politique de remboursement, veuillez nous contacter <span> á nos
                    résaux
                    sociau</span></p>
        </div>
    </div>

</section>