<section class="flex-container"
    [ngClass]="{'rtl': translate.currentLang  === 'ar', 'ltr': translate.currentLang  === 'en'}">
    <div class="flex-container-col">
        <form class="form" [formGroup]="loginForm" (submit)="onSubmit()">
            <p class="title">Login</p>

            <!-- <label>
        <input class="input" type="text" id="userName" formControlName="userName" placeholder="" required="">
        <span>Username</span>
      </label> -->
            <label>
                <input class="input" type="name" id="name" formControlName="name" placeholder="" required="">
                <span>name</span>
            </label>
            <label>
                <input class="input" type="password" id="password" formControlName="password" placeholder=""
                    required="">
                <span>Password</span>
            </label>


            <div class="forgot">
                <a rel="noopener noreferrer" href="#">Forgot Password ?</a>
            </div>

            <button class="button_main">Sign in</button>
        </form>
    </div>
</section>