<section class="flex-container">
    <div class="flex-container-col">
        <section>
            <app-whereare></app-whereare>
        </section>
        <div class="aligneSelf">
            <section>
                <app-contact-us></app-contact-us>
            </section>
        </div>
        <section>
            <app-follow-us></app-follow-us>
        </section>
        <section>
            <app-delivery></app-delivery>
        </section>
        <section>
            <app-policies></app-policies>
        </section>

    </div>




</section>