<section class="content flex-container">
    <div class="flex-container-col">
        <section>
            <app-whereare></app-whereare>
        </section>

        <div class="flex-container-row">
            <section>
                <app-contact-us></app-contact-us>
            </section>
            <section>
                <app-follow-us></app-follow-us>
            </section>
        </div>

        <section>
            <app-activities></app-activities>
        </section>

        <section>
            <app-delivery></app-delivery>
        </section>

        <section>
            <h3 class="title">Condition de ventes</h3>
            <app-policies></app-policies>
        </section>

    </div>




</section>