<section>
    <div class="flex-container"
        [ngClass]="{'rtl': translate.currentLang  === 'ar', 'ltr': translate.currentLang  === 'en'}">

        <div class="flex-container-col">
           
            <div class="title_Bloque">

                <div class="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="43" viewBox="0 0 10 43">
                        <line id="Línea_10" data-name="Línea 10" y2="33" transform="translate(5 5)" fill="none"
                            stroke="#e89002" stroke-linecap="round" stroke-width="10"></line>
                    </svg>
                </div>
    
                <h2 class="">A quién van dirigidos nuestros cursos</h2>
            </div>
            <p>En esta página podrás encontrar diferentes tipos de cursos relacionados con la apicultura y los productos
                derivados de esta actividad, que van dirigidos a las personas:</p>
        </div>
    </div>
    <div>
        
        
        <div class="title_Bloque">

            <div class="">
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="43" viewBox="0 0 10 43">
                    <line id="Línea_10" data-name="Línea 10" y2="33" transform="translate(5 5)" fill="none"
                        stroke="#e89002" stroke-linecap="round" stroke-width="10"></line>
                </svg>
            </div>

            <h5 class="">Amantes de la naturaleza</h5>
        </div>
        <p>Que les gusta el campo, la naturaleza en general y quieren conocer una nueva actividad que puede convertirse
            en un fantástico hoobie, para producir su propia miel, polen, etc.</p>
    </div>
    <div>
        <h5>Primer contacto</h5>
        <p>Que desean tener un primer contacto real con colmenas y con abejas, de forma totalmente segura y guiada.
            Que quieren descubrir una nueva oportunidad de negocio, ya sea complementaria a su trabajo habitual o
            definitivamente encontrar una nueva profesión con muchísimas oportunidades.
        </p>
    </div>
    <div>
        <h5>Con experiencia</h5>
        <p>Apicultores con experiencia, que quizás nunca han recibido un curso de apicultura y que necesitan reforzar
            sus conocimientos en diferentes los ámbitos como la cría de abejas reinas, alimentación o sanidad apícola.
            Que tienen ya algunas colmenas, pero quieren aclarar dudas, compartir experiencias y sensaciones, así como
            reafirmar sus conocimientos para evitar errores típicos.
        </p>
    </div>
    <div>
        <h5>Un hobby saludable</h5>
        <p>A todas las personas amantes de la vida sana, de las terapias alternativas, a quienes busquen algún tipo de
            salida laboral, a jóvenes, niños o ancianos que busquen un hobby que además les reporte alguna ganancia.</p>
    </div>

    <section class="results">
        <app-courses-honey *ngFor="let coursHoney of coursesHoneyList" [coursHoney]="coursHoney"></app-courses-honey>
    </section>

    <div>
        <div class="title_Bloque">
            <div class="">
              <svg xmlns="http://www.w3.org/2000/svg" width="10" height="43" viewBox="0 0 10 43">
                <line id="Línea_10" data-name="Línea 10" y2="33" transform="translate(5 5)" fill="none" stroke="#e89002"
                  stroke-linecap="round" stroke-width="10"></line>
              </svg>
            </div>
            <h1 class="title">{{'Cours.TitleTeam'|translate}}</h1>
          </div>
        <p>{{'Cours.DescriptionCours'|translate}}</p>
    </div>

    <section class="results">
        <app-cours-team *ngFor="let staff of team" [staff]="staff"></app-cours-team>
    </section>
</section>