<div class="menu-container">
  <div class="burger-menu" (click)="toggleMenu()">
    &#9776; <!-- Ícono del menú hamburguesa -->
  </div>
  <div class="menu-items" [ngClass]="{'show': menuOpen}">
    <a class="" routerLinkActive="activebutton" ariaCurrentWhenActive="page" routerLink="/">
      {{'Home.Title'|translate}}
    </a>
    <a class="" routerLinkActive="activebutton" ariaCurrentWhenActive="page" routerLink="/blog">
      {{'Blog.Title'|translate}}
    </a>
    <a class="" routerLinkActive="activebutton" ariaCurrentWhenActive="page" routerLink="/blog">
      {{'About.Title'|translate}}
    </a>
  </div>
</div>