<div class="cart-container">
  <div class="steps">
    <div class="step" [class.completed]="currentStep > 1">Carrito</div>
    <div class="step" [class.completed]="currentStep > 2">Validar</div>
    <div class="step" [class.completed]="currentStep > 3">Confirmar</div>
    <div class="step" [class.completed]="currentStep > 4">Datos Personales</div>
    <div class="step" [class.completed]="currentStep > 5">Pagar</div>
    <div class="step" [class.completed]="currentStep > 6">Confirmación</div>
  </div>

  <div class="step-content" *ngIf="currentStep === 1">
    <app-cart-step (nextStep)="nextStep()"></app-cart-step>
  </div>
  <div class="step-content" *ngIf="currentStep === 2">
    <app-validate-step (nextStep)="nextStep()" (prevStep)="prevStep()"></app-validate-step>
  </div>
  <div class="step-content" *ngIf="currentStep === 3">
    <app-confirm-step (nextStep)="nextStep()" (prevStep)="prevStep()"></app-confirm-step>
  </div>
  <div class="step-content" *ngIf="currentStep === 4">
    <app-personal-info-step (nextStep)="nextStep()" (prevStep)="prevStep()"></app-personal-info-step>
  </div>
  <div class="step-content" *ngIf="currentStep === 5">
    <app-payment-step (nextStep)="nextStep()" (prevStep)="prevStep()"></app-payment-step>
  </div>
  <div class="step-content" *ngIf="currentStep === 6">
    <app-confirmation-step></app-confirmation-step>
  </div>

  <div class="navigation-buttons">
    <button *ngIf="currentStep > 1" (click)="prevStep()">Anterior</button>
    <button *ngIf="currentStep === 1" (click)="nextStep()" [disabled]="isCartEmpty()">Validar</button>
    
  </div>
</div>