<main>

    <header class="brand-name containerHeader">
        <nav class="flex-header-row">
            <a class="spanMHS menu__link" routerLinkActive="activebutton" ariaCurrentWhenActive="page" routerLink="/">
                {{'Home.Title'| translate}}
            </a>

        </nav>
        <nav class="flex-header-row">
            <a class="spanMHS menu__link" routerLinkActive="activebutton" ariaCurrentWhenActive="page"
                routerLink="/blog">
                {{'Blog.Title'|translate}}
            </a>

        </nav>
        <nav class="flex-header-row">
            <a class="spanMHS menu__link" routerLinkActive="activebutton" ariaCurrentWhenActive="page"
                routerLink="/cours">
                {{'Cours.Title'|translate}}
            </a>

        </nav>
        <nav class="flex-header-row">
            <a class="spanMHS menu__link" routerLinkActive="activebutton" ariaCurrentWhenActive="page"
                routerLink="/about">
                {{'About.Title'|translate}}
            </a>

        </nav>
        <div>
            <app-switch-lang></app-switch-lang>
            <app-menuburger></app-menuburger>
        </div>

    </header>

    <section class="content">
        <router-outlet></router-outlet>
    </section>
    <footer class="flex-container containerHeader"
        [ngClass]="{'rtl': translate.currentLang  === 'ar', 'ltr': translate.currentLang  === 'en'}">
        <!-- [ngClass]="{'rtl': translate.currentLang  === 'ar', 'ltr': translate.currentLang  === 'en'}"> -->


        <div>
            <!-- <h4 class="AlignTxtCenter styleTitle">{{ 'About_Us' | translate}}</h4> -->
            <h4 class="title honey-color">{{ 'About_Us' | translate}}</h4>
            <nav class="flex-container-col">
                <a class="honey-color" routerLinkActive="activebutton" ariaCurrentWhenActive="page" routerLink="/blog">
                    {{'About.whereAre.Title'| translate}}

                </a>
                <a class="honey-color" routerLinkActive="activebutton" ariaCurrentWhenActive="page" routerLink="/blog">
                    {{ 'Collection_Procedure' | translate}}

                </a>
            </nav>
        </div>

        <div>
            <h4 class="title honey-color">{{ 'Info' | translate}}</h4>
            <!-- <h4 class="AlignTxtCenter styleTitle"></h4> -->
            <nav class="flex-container-col">
                <a class="honey-color" routerLinkActive="activebutton" ariaCurrentWhenActive="page"
                    routerLink="/policies">
                    {{ 'Policies.PoliciesTitle' | translate}}

                </a>
                <a class="honey-color" routerLinkActive="activebutton" ariaCurrentWhenActive="page"
                    routerLink="/delivery">
                    {{ 'About.Delivery.Title' | translate}}

                </a>

            </nav>
        </div>

        <div>
            <!-- <h4 class="AlignTxtCenter styleTitle">{{ 'About_Us' | translate}}</h4> -->
            <h4 class="title honey-color">{{ 'Blog.Title' | translate}}</h4>
            <nav class="flex-container-col">

                <a class="honey-color" routerLinkActive="activebutton" ariaCurrentWhenActive="page"
                    routerLink="/benefit">
                    {{ 'Benifices.Title' | translate}}

                </a>
                <a class="honey-color" routerLinkActive="activebutton" ariaCurrentWhenActive="page" routerLink="/blog">
                    {{ 'Blog.Title' | translate}}
                </a>
            </nav>
        </div>

        <section class="honey-color">
            <app-follow-us></app-follow-us>
        </section>

        <section class="honey-color">
            <app-contact-us></app-contact-us>
        </section>


    </footer>

</main>