<main>

    <header class="brand-name containerHeader">
        <nav class="flex-header-row">
            <a class="spanMHS menu__link" routerLinkActive="activebutton" ariaCurrentWhenActive="page" routerLink="/">
                Home
            </a>

        </nav>
    </header>

    <section class="content">
        <router-outlet></router-outlet>
    </section>
    <footer class="containerHeader">
        <nav class="flex-header-row">
            <a class="spanMHS menu__link" routerLinkActive="activebutton" ariaCurrentWhenActive="page" routerLink="/">
                Home
            </a>

        </nav>
    </footer>
</main>