<div class="validate-step">
  <h3>{{'cart.Validate_Order'| translate}}</h3>
  <ul>
    <li *ngFor="let item of cartItems" class="cart-item">
      <div class="cart-item-details" *ngIf="item.type=== 'HN'">
        {{ item.name }} - 
        {{'cart.CartItems.Quantity'|translate}}: {{ item.quantity }} -
        {{'cart.CartItems.Weight'|translate}}: {{ item.weight }} g - 
        {{'cart.CartItems.Price'|translate}}: {{item.price  | currency }} - 
        DTO : {{ item.discount }}
      </div>

      <div class="cart-item-details" *ngIf="item.type=== 'MT'">
        {{ item.name }} - {{'cart.CartItems.Quantity'|translate}}: {{ item.quantity }} -
        {{'cart.CartItems.Price'|translate}}: {{item.price  | currency }}
      </div>
    </li>
  </ul>
  <button (click)="next()">{{'Next'| translate}}</button>
</div>