<section>
    <div class="title_Bloque">
        <div class="">
            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="43" viewBox="0 0 10 43">
                <line id="Línea_10" data-name="Línea 10" y2="33" transform="translate(5 5)" fill="none" stroke="#e89002"
                    stroke-linecap="round" stroke-width="10"></line>
            </svg>
        </div>
        <h1 class="title">{{ 'Our_Products'|translate }}</h1>
    </div>
    <div class="container">
        <div class="flex-container-row">


            <div class="product-card">
                <div class="product-image">
                    <img src="./assets/img/pexels-pixabay-33260.jpg" alt="">
                    <div class="titleCard">{{'Honey'|translate}}</div>
                    <div class="overlay"></div>
                </div>
                <div class="product-info">
                    <p>{{'Honey'|translate}}</p>
                    <div class="product-price">65</div>
                    <button class="btn-buy">
                        <a href="" class="" routerLinkActive="activebutton" ariaCurrentWhenActive="page" routerLink="/">
                            {{'See_Our_Products'|translate}}
                        </a>
                    </button>
                </div>
            </div>

            <div class="product-card">
                <div class="product-image">
                    <img src="./assets/img/pexels-chuanyu2015-209658-2231469.jpg" alt="">
                    <div class="titleCard">Polen</div>
                    <div class="overlay"></div>
                </div>
                <div class="product-info">
                    <p>{{'Cours.Title'|translate}}</p>
                    <div class="product-price">65</div>
                    <button class="btn-buy">
                        <a href="" class="" routerLinkActive="activebutton" ariaCurrentWhenActive="page"
                            routerLink="/cours"> {{'See_Our_Products'|translate}}
                        </a>
                    </button>
                </div>
            </div>


            <div class="product-card">
                <div class="product-image">
                    <img src="./assets/img/beekeeping-6206413_1280.png" alt="">
                    <div class="titleCard">{{'Cours.Title'|translate}}</div>
                    <div class="overlay"></div>
                </div>
                <div class="product-info">
                    <p>{{'Material.Pollen'|translate}}</p>
                    <div class="product-price">65</div>
                    <button class="btn-buy">
                        <a href="" class="" routerLinkActive="activebutton" ariaCurrentWhenActive="page"
                            routerLink="/cours"> {{'See_Our_Products'|translate}}
                        </a>
                    </button>
                </div>
            </div>



            <div class="product-card">
                <div class="product-image">
                    <img src="./assets/img/pexels-anete-lusina-5247971.jpg" alt="">
                    <div class="titleCard">{{'Material.Title'| translate}}</div>
                    <div class="overlay"></div>
                </div>
                <div class="product-info">
                    <p>{{'Material.Title'|translate}}</p>
                    <div class="product-price">65</div>
                    <button class="btn-buy">
                        <a href="" class="" routerLinkActive="activebutton" ariaCurrentWhenActive="page"
                            routerLink="/material"> {{'See_Our_Products'|translate}}
                        </a>
                    </button>
                </div>
            </div>


            <div class="product-card">
                <div class="product-image">
                    <img src="./assets/img/pexels-esrannuur-129682465-24288881.jpg" alt="">
                    <div class="titleCard">Productos Ceras</div>
                    <div class="overlay"></div>
                </div>
                <div class="product-info">
                    <p>Nombre</p>
                    <div class="product-price">65</div>
                    <button class="btn-buy">
                        <a href="" class="" routerLinkActive="activebutton" ariaCurrentWhenActive="page"
                            routerLink="/material"> {{'See_Our_Products'|translate}}
                        </a>
                    </button>
                </div>
            </div>

            <div class="product-card">
                <div class="product-image">
                    <img src="./assets/img/pexels-laarkstudio-7489745.jpg" alt="">
                    <div class="titleCard">Para Regalos</div>
                    <div class="overlay"></div>
                </div>
                <div class="product-info">
                    <p>Nombre</p>
                    <div class="product-price">65</div>
                    <button class="btn-buy">
                        <a href="" class="" routerLinkActive="activebutton" ariaCurrentWhenActive="page"
                            routerLink="/material"> {{'See_Our_Products'|translate}}
                        </a>
                    </button>
                </div>
            </div>

        </div>
    </div>

</section>