<section>
    <h2 class="title">{{ 'Our_Products'|translate }}</h2>
    <div class="container">
        <div class="flex-container-row">


            <div class="product-card">
                <div class="product-image">
                    <img src="./assets/img/pexels-umsiedlungen-928978.jpg" alt="">
                    <div class="titleCard">{{'Honey'|translate}}</div>
                    <div class="overlay"></div>
                </div>
                <div class="product-info">
                    <p>{{'Honey'|translate}}</p>
                    <div class="product-price">65</div>
                    <button class="btn-buy">
                        <a href="" class="" routerLinkActive="activebutton" ariaCurrentWhenActive="page" routerLink="/">
                            {{'See_Our_Products'|translate}}
                        </a>
                    </button>
                </div>
            </div>

            <div class="product-card">
                <div class="product-image">
                    <img src="./assets/img/pexels-chuanyu2015-209658-2231469.jpg" alt="">
                    <div class="titleCard">Pollen</div>
                    <div class="overlay"></div>
                </div>
                <div class="product-info">
                    <p>Nombre</p>
                    <div class="product-price">65</div>
                    <button class="btn-buy">
                        <a href="" class="" routerLinkActive="activebutton" ariaCurrentWhenActive="page"
                            routerLink="/Cours"> {{'See_Our_Products'|translate}}
                        </a>
                    </button>
                </div>
            </div>


            <div class="product-card">
                <div class="product-image">
                    <img src="./assets/img/beekeeping-6206413_1280.png" alt="">
                    <div class="titleCard">{{'Cours.Title'|translate}}</div>
                    <div class="overlay"></div>
                </div>
                <div class="product-info">
                    <p>Nombre</p>
                    <div class="product-price">65</div>
                    <button class="btn-buy">
                        <a href="" class="" routerLinkActive="activebutton" ariaCurrentWhenActive="page"
                            routerLink="/cours"> {{'See_Our_Products'|translate}}
                        </a>
                    </button>
                </div>
            </div>



            <div class="product-card">
                <div class="product-image">
                    <img src="./assets/img/pexels-anete-lusina-5247971.jpg" alt="">
                    <div class="titleCard">{{'Material.Title'| translate}}</div>
                    <div class="overlay"></div>
                </div>
                <div class="product-info">
                    <p>Nombre</p>
                    <div class="product-price">65</div>
                    <button class="btn-buy">
                        <a href="" class="" routerLinkActive="activebutton" ariaCurrentWhenActive="page"
                            routerLink="/material"> {{'See_Our_Products'|translate}}
                        </a>
                    </button>
                </div>
            </div>

            
            <div class="product-card">
                <div class="product-image">
                    <img src="./assets/img/pexels-hatice-baran-153179658-24243914.jpg" alt="">
                    <div class="titleCard">Productos Ceras</div>
                    <div class="overlay"></div>
                </div>
                <div class="product-info">
                    <p>Nombre</p>
                    <div class="product-price">65</div>
                    <button class="btn-buy">
                        <a href="" class="" routerLinkActive="activebutton" ariaCurrentWhenActive="page"
                            routerLink="/material"> {{'See_Our_Products'|translate}}
                        </a>
                    </button>
                </div>
            </div>

            <div class="product-card">
                <div class="product-image">
                    <img src="./assets/img/pexels-laarkstudio-7489745.jpg" alt="">
                    <div class="titleCard">Para Regalos</div>
                    <div class="overlay"></div>
                </div>
                <div class="product-info">
                    <p>Nombre</p>
                    <div class="product-price">65</div>
                    <button class="btn-buy">
                        <a href="" class="" routerLinkActive="activebutton" ariaCurrentWhenActive="page"
                            routerLink="/material"> {{'See_Our_Products'|translate}}
                        </a>
                    </button>
                </div>
            </div>

        </div>
    </div>

</section>