<section>
  <div class="cart-list">

    <div *ngFor="let item of cartItems" class="flex-container cart-box">

      <div>
        <img class="cart-img" [src]="item?.photo" alt="Exterior photo of {{item?.name}}" />
      </div>

      <div class="cart-item" *ngIf="item.type=== 'HN'">
        <div class="cart-item-details">
          {{ item.name }} -
          {{ item.quantity }} -
          {{ item.weight }} g -
          {{ item.price | currency }}
        </div>
        <div class="cart-item-actions">
          <span class="btn-delete" (click)="removeItem(item.id)">
            <i class="fas fa-trash-alt"></i>
          </span>
          <input class="input-quantity" type="number" [(ngModel)]="item.quantity"
            (change)="updateItem(item.id, item.quantity, item.weight, item.price)">
          <!-- <select class="input-weight styled-select" [(ngModel)]="item.weight"
            (change)="updateItem(item.id, item.quantity, item.weight, item.price)">
            <option value="1000">1000g</option>
            <option value="500">500g</option>
            <option value="250">250g</option>
          </select> -->

          <div class="form-inline-select">
            <label for="weightSelector">Peso: </label>
            <div class="custom-select-wrapper">
              <select id="weightSelector" [(ngModel)]="item.weight"
              (change)="updateItem(item.id, item.quantity, item.weight, item.price)" class="form-control custom-select">
                
                <option value="1000">1000g</option>
                <option value="500">500g</option>
                <option value="250">250g</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="cart-item" *ngIf="item.type=== 'MT'">
        <div class="cart-item-details">
          {{ item.name }} - {{ item.quantity }} unidad - {{item.price | currency}}
        </div>
        <div class="cart-item-actions">
          <span class="btn-delete" (click)="removeItem(item.id)">
            <i class="fas fa-trash-alt"></i>
          </span>
          <input class="input-quantity" type="number" [(ngModel)]="item.quantity"
            (change)="updateItemMaterial(item.id, item.quantity, item.price)">

        </div>
      </div>
    </div>
  </div>
</section>