<div class="cart-list">
  <div *ngFor="let item of cartItems" >



    <div class="cart-item"  *ngIf="item.type=== 'HN'">
      <div class="cart-item-details">
        {{ item.name }} - {{ item.quantity }} - {{ item.weight }} kg
      </div>
      <div class="cart-item-actions">
        <span class="btn-delete" (click)="removeItem(item.id)">
          <i class="fas fa-trash-alt"></i>
        </span>
        <input class="input-quantity" type="number" [(ngModel)]="item.quantity" (change)="updateItem(item.id, item.quantity, item.weight)">
        <input class="input-weight" type="number" [(ngModel)]="item.weight" (change)="updateItem(item.id, item.quantity, item.weight)">
      </div>
    </div>

    <div class="cart-item"  *ngIf="item.type=== 'MT'">
      <div class="cart-item-details">
        {{ item.name }} - {{ item.quantity }} unidad
      </div>
      <div class="cart-item-actions">
        <span class="btn-delete" (click)="removeItem(item.id)">
          <i class="fas fa-trash-alt"></i>
        </span>
        <input class="input-quantity" type="number" [(ngModel)]="item.quantity" (change)="updateItemMaterial(item.id, item.quantity)">
        
      </div>
    </div>
  </div>
</div>