.cart-step {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-step ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

.cart-step li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.cart-step button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cart-step button:hover {
  background-color: #45a049;
}

/* Estilos para el listado de items en el carrito */
.cart-list {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.cart-item-details {
  flex: 1;
}

.cart-item-actions {
  display: flex;
  align-items: center;
}

.cart-item-actions button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 5px;
}

.cart-item-actions button:hover {
  background-color: #d32f2f;
}

.cart-item-actions input {
  width: 60px;
  padding: 5px;
  text-align: center;
}

/* Estilos para el botón de eliminar */
.cart-item-actions .btn-delete {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 5px;
}

.cart-item-actions .btn-delete:hover {
  background-color: #d32f2f;
}

/* Estilos para el input de cantidad y peso */
.cart-item-actions .input-quantity,
.cart-item-actions .input-weight {
  width: 60px;
  padding: 5px;
  text-align: center;
  margin-left: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.cart-img{
height: 150px;
width: 150px;
}

.cart-box{
 
  padding: 10px;
  box-shadow: 5px 10px 8px #888888;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .cart-step li {
    flex-direction: column;
    align-items: center;
  }

  .cart-step button {
    width: 100%;
  }
}