<section [ngClass]="{'rtl': translate.currentLang  === 'ar', 'ltr': translate.currentLang  === 'en'}">
  <div class="confirmation">

    <div>
      <h3>{{ 'cart.Datos Personales.Title'|translate }}</h3>
      <p>{{ 'cart.Datos Personales.Name'|translate }}: {{ personalInfo.name }}</p>
      <p>{{ 'cart.Datos Personales.Direction'|translate }}: {{ personalInfo.address }}</p>
      <p>{{ 'cart.Datos Personales.Email'|translate }}: {{ personalInfo.email }}</p>
      <p>{{ 'cart.Datos Personales.Phone'|translate }}: {{ personalInfo.phone }}</p>
      <p>{{ 'cart.Datos Personales.paymentMethod'|translate }}: {{ personalInfo.paymentMethod }}</p>
    </div>

    <div>
      <h3>{{ 'cart.CartItems.Title'|translate }}</h3>
      <ul>
        <li *ngFor="let item of cartItems" class="cart-item">
          <div class="cart-item-details">
            {{ item.name }} - {{ 'cart.CartItems.Quantity'|translate }}: {{ item.quantity }} - {{
            'cart.CartItems.Weight'|translate }}: {{ item.weight }} kg - {{ 'cart.CartItems.Price'|translate }}: {{
            item.price }} €
          </div>
        </li>
      </ul>
      <h3>{{ 'cart.CartItems.Total'|translate }}: {{ totalPrice }} €</h3>
    </div>
    <!-- <button (click)="next()">{{'Next'| translate}}</button> -->
  </div>

</section>