/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Be Vietnam Pro', sans-serif;
}

/** #####################################################
    #                 PARAM COLORS                           #
    #####################################################*/
:root {
  --primary-color: #444f40;
  --secondary-color: #8B89E6;
  --accent-color: #e8e7fa;
  --shadow-color: #E8E8E8;
  --honey-color: #efa909;
  --honey-sec-color: #fde6b1;
  --svg-color: #f2f2f2;

  --global-color-title: #021C10;

  --facebook-color: #3b5998;
  --facebook-hover-color: #3b5998;
  --linkedin-color: #0077b5;
  --linkedin-hover-color: #0077b5;
  --instagram-color: #c13584;
  --instagram-hover-color: #c13584;
}

.honey-color {
  color: var(--honey-color);
}


/** #####################################################
    #                 GENERIC                           #
    #####################################################*/

svg {
  fill: var(--svg-color);
  height: "24";
  width: "24";
}

input[type="text"] {
  border: solid 1px var(--primary-color);
  padding: 10px;
  border-radius: 8px;
  margin-right: 4px;
  display: inline-block;
  width: 30%;
}

q {

  font-family: cursive;
  padding: 0.5rem;
}

q::before,
q::after {
  animation: dancing 1s linear infinite;
  display: inline-block;
  transform: rotate(13deg);
}

strong {
  font-weight: bolder;
}

@keyframes dancing {
  0% {
    transform: rotate(13deg) scale(2);
  }

  25% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-13deg) scale(2);
  }

  75% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(13deg) scale(2);
  }
}

.title {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  font-family: "Dosis", Sans-serif;
}

.title_Bloque {
  display: flex;
  flex-direction: row;
  color: var(--global-color-title);
  padding: 20px;
}

.allIcon {

  background-color: var(--honey-color);
  text-shadow: 2px 2px 4px var(--text-shadow-color);
  z-index: 9999;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px var(--box-shadow-color);
}

.underline {
  text-decoration: underline;
  padding: 0.5rem;
  font-weight: bold;
}

.background {
  background-color: var(--honey-sec-color);
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  max-width: 800px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 13.1);
  /* Soft shadow for depth */
  line-height: 1.6;
  /* Increase line height for readability */
  font-family: 'Georgia', serif;
}


/** #####################################################
    #  LA SECCION TEXTO INFORMATIVO                 #
    #####################################################*/

.newspaper-section {
  /* background-color: #ffffff; */
  /* White background for the section */
  /* padding: 20px; */
  margin: 20px auto;
  width: 80%;
  /* max-width: 800px; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 13.1);
  /* Soft shadow for depth */
  line-height: 1.6;
  /* Increase line height for readability */
  font-family: 'Georgia', serif;
  /* Traditional newspaper font */
  position: relative;
  /* Ensure the pseudo-element positions correctly */
  background-size: cover;
  /* Ensure the background image covers the section */
  /* background-position: center; */
  /* Center the background image */
}

.newspaper-section h1 {
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

.newspaper-section p {
  text-align: justify;
  margin-bottom: 20px;
  padding: 15px;

}

.newspaper-section::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  /* Slight white overlay for readability */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  /* Position behind the content */
}



/** #####################################################
    #   MOSTAR RESULTADO DE PORDUCTOS EN HOME                  #
    #####################################################*/
.results {
  display: grid;
  column-gap: 14px;
  row-gap: 14px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
  margin-top: 50px;
  justify-content: space-around;
}

.listing {
  background: var(--honey-color);
  border-radius: 30px;
  padding-bottom: 30px;
}

.listing-heading {
  font-size: 13px;
  font-family: cursive;
  color: var(--primary-color);
  padding: 10px 20px 0 20px;
}

.listing-photo {
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-radius: 30px 30px 0 0;

}


.listing-location {
  padding: 10px 20px 20px 20px;
  font-size: 13px;
  font-family: cursive;
}

.listing-location::before {
  content: url("/assets/location-pin.svg") / "";
}

.background-image {
  background-image: url('/assets/img/pexels-lamiko-3616764.jpg');
}

section.listing a {
  padding-left: 20px;
  text-decoration: none;
  color: var(--primary-color);
  font-size: 13px;
  font-family: cursive;
}

section.listing a::after {
  content: "\203A";
  margin-left: 5px;
}


/** #####################################################
    #   MOSTAR DETALLES DEL PORDUCTO                    #
    #####################################################*/

.listing-details-photo {
  height: 600px;
  width: 100%;
  object-fit: cover;
  border-radius: 30px;
  float: right;
}

.listing-details-heading {
  font-size: 48pt;
  font-weight: bold;
  margin-bottom: 15px;
  color: var(--primary-color);
  padding: 10px 20px 0 20px;
}


.listing-details-location {
  font-size: 24pt;
  margin-bottom: 15px;
  padding: 10px 20px 20px 20px;
}

.listing-details-location::before {
  content: url("/assets/location-pin.svg") / "";
}



/** #####################################################
    #   BOTTON ADD CART                                 #
    #####################################################*/



.CartBtn {
  width: 140px;
  height: 40px;
  border-radius: 12px;
  border: none;
  background-color: rgb(58, 56, 50);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: .5s;
  overflow: hidden;
  box-shadow: 0px 5px 10px var(--box-shadow-color);
  position: relative;
}


.IconContainer {
  position: absolute;
  left: -50px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
  transition-duration: .5s;
}

.icon {
  border-radius: 1px;
}

.text {
  height: 100%;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--honey-color);
  z-index: 1;
  transition-duration: .5s;
  font-size: 1.04em;
  font-weight: 600;
}

.CartBtn:hover .IconContainer {
  transform: translateX(58px);
  border-radius: 40px;
  transition-duration: .5s;
}

.CartBtn:hover .text {
  transform: translate(10px, 0px);
  transition-duration: .5s;
}

.CartBtn:active {
  transform: scale(0.95);
  transition-duration: .5s;
}

/** #####################################################
    #   Animation                     #
    #####################################################*/

.animated-img {
  /* transform: translateX(400%); */
  transform: rotateZ(150deg);
  transition: all 0.4s ease;
}

.animated-img:nth-of-type(even) {
  /* transform: translateX(400%); */
  transform: rotateZ(150deg);
}

.animated-img.show {
  /* transform: translateX(0); */
  transform: rotateZ(0deg);
}


.slit-in-vertical {
  animation: slit-in-vertical 0.45s ease-out both;
}

@keyframes slit-in-vertical {
  0% {
    transform: translateZ(-800px) rotateY(90deg);
    opacity: 0;
  }

  54% {
    transform: translateZ(-160px) rotateY(87deg);
    opacity: 1;
  }

  100% {
    transform: translateZ(0) rotateY(0);
  }
}

.slide-in-elliptic-top-fwd {
  animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/** #####################################################
    #                      ESTILO LISTAS                #
    #####################################################*/
.listStyle {
  list-style-type: disc;
  margin-right: 15px;
}

#textid ul {
  list-style-type: disc;
  margin-right: 15px;
}

#textid ul li {
  margin-right: 8px !important;
}

/** #####################################################
    #                 FLEX                              #
    #####################################################*/
.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px;

}

.flex-container-col {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;

}

.flex-container-row {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.flex-item {
  flex: 1 1 calc(50% - 10px);
  /* Cada elemento ocupa aproximadamente el 50% del ancho menos el margen */
  margin: 5px;
  min-height: 300px;
  /* Ajusta la altura según sea necesario */
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-item img,
.flex-item iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: none;
}

/** #######################################################
    #                ESTILOS BOTONES                          #
    #######################################################*/

button.primary {
  padding: 10px;
  border: solid 1px var(--primary-color);
  background: var(--honey-color);
  color: white;
  border-radius: 8px;
}


.button_main {
  background-color: var(--honey-color);
  color: var(--primary-color);
  font-size: 1.0rem;
  font-weight: 700;
  line-height: 2;
  position: relative;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.5s;
  box-shadow: 0 0 10px #363636, inset 0 0 10px var(--shadow-color);
  padding: 10px 20px;
  transition:
    scale 0.25s ease-in,
    opacity 0.25s ease-in filter 0.25s ease-in;

  &:hover {
    scale: 1.2;
  }

}

.activebutton {
  box-shadow: inset 0 1px 0 0 #dcecfb;
  background: #f9d686 linear-gradient(to bottom, #f1d697 5%, #f9d686 100%);
  border: 1px solid #eec669;
  color: #000000;
  text-shadow: 0 1px 0 #000000;
}


.truckWrapper {
  width: 200px;
  height: 100px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  overflow-x: hidden;
}

/* truck upper body */
.truckBody {
  width: 130px;
  height: fit-content;
  margin-bottom: 6px;
  animation: motion 1s linear infinite;
}

/** #####################################################
  #                 TEXT ALIGNATION                   #
  #####################################################*/

.rtl {
  direction: rtl;
  text-align: right;
}

.ltr {
  direction: ltr;
  text-align: left;
}

.AlignTitleCenter {
  text-align: center;
}

/** #####################################################
  #                 Estilo Alertas                 #
  #####################################################*/
.invalid-feedback {
  color: red;
  font-size: 0.8em;
  margin-top: 5px;
}



/** #####################################################
    #                Media                              #
    #####################################################*/
@media (min-width: 500px) and (max-width: 768px) {
  .results {
    grid-template-columns: repeat(2, 1fr);
  }

  input[type="text"] {
    width: 70%;
  }

  .flex-container {
    flex-direction: column;
    align-items: center;
  }

  .flex-container-row {
    flex-direction: column;
    align-items: center;
  }

  .flex-container-col {
    align-items: center;
  }
}

@media (max-width: 499px) {
  .results {
    grid-template-columns: 1fr;
  }

  .flex-container-row {
    flex-direction: column;
    align-items: center;
  }

  .flex-container {
    flex-direction: column-reverse;
  }

  .flex-container-col {
    align-items: center;
  }
}

@media (max-width: 1200px) {
  .flex-item {
    flex: 1 1 calc(50% - 10px);
    /* Ajuste para pantallas grandes */
  }
}

@media (max-width: 992px) {
  .flex-item {
    flex: 1 1 100%;
    /* Ancho completo en pantallas medianas */
    height: 250px;
    /* Ajusta la altura según sea necesario */
  }
}

@media (max-width: 768px) {
  .flex-item {
    flex: 1 1 100%;
    margin: 5px 0;
    height: 200px;
    /* Ajusta la altura según sea necesario */
  }

  .newspaper-section {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .flex-item {
    flex: 1 1 100%;
    margin: 5px 0;
    height: 150px;
    /* Ajusta la altura según sea necesario */
  }

  .newspaper-section {
    width: 100%;
  }
}