<section>
  <div class="confirmation">
    <h2>{{'Confirmation'|translate}}</h2>

    <div class="payment-step" *ngIf="personalInfo.paymentMethod === 'Contra Reembolso'">
      <h3></h3>

      <p>Su pedido ha sido realizado con exito. En breve uno de mis conpañeros se pondra en contacto contigo con los
        datos facilitados. Darle al boton finalizar para volver al menu principal</p>

    </div>
    <div>
      <h3>{{'Cart.PersonalData.Title'|translate}}</h3>
      <p>{{'Cart.PersonalData.Name'|translate}}: {{ personalInfo.name }}</p>
      <p>{{'Cart.PersonalData.Direction'|translate}}: {{ personalInfo.address }}</p>
      <p>{{'Cart.PersonalData.Email'|translate}}: {{ personalInfo.email }}</p>
      <p>{{'Cart.PersonalData.Phone'|translate}}: {{ personalInfo.phone }}</p>
      <p>{{'Cart.PersonalData.paymentMethod'|translate}}: {{personalInfo.paymentMethod}}</p>
    </div>

    <div>
      <h3>{{'Cart.CartItems.Title'|translate}}</h3>
      <ul>
        <li *ngFor="let item of cartItems" class="cart-item">
          <div class="cart-item-details">
            {{ item.name }} - {{'Cart.CartItems.Quantity'|translate}}: {{ item.quantity }} - {{'Cart.CartItems.Weight'|translate}}: {{ item.weight }} kg - {{'Cart.CartItems.Price'|translate}}: {{ item.price }} €
          </div>
        </li>
      </ul>
      <h3>{{'Cart.CartItems.Total'|translate}}: {{ totalPrice }} €</h3>
    </div>

    <button class="btn-finish" (click)="finishPurchase()">Finalizar</button>
  </div>
</section>