<section>
  <div class="confirmation">
    <h2>{{'Confirmation'|translate}}</h2>

    <div class="payment-step" *ngIf="personalInfo.paymentMethod === 'Contra Reembolso'">
      <h3></h3>

      <p>Su pedido ha sido realizado con exito. En breve uno de mis conpañeros se pondra en contacto contigo con los
        datos facilitados. Darle al boton finalizar para volver al menu principal</p>

    </div>
    <div>
      <h3>{{'cart.Datos Personales.Title'|translate}}</h3>
      <p>{{'cart.Datos Personales.Name'|translate}}: {{ personalInfo.name }}</p>
      <p>{{'cart.Datos Personales.Direction'|translate}}: {{ personalInfo.address }}</p>
      <p>{{'cart.Datos Personales.Email'|translate}}: {{ personalInfo.email }}</p>
      <p>{{'cart.Datos Personales.Phone'|translate}}: {{ personalInfo.phone }}</p>
      <p>{{'cart.Datos Personales.paymentMethod'|translate}}: {{personalInfo.paymentMethod}}</p>
    </div>

    <div>
      <h3>{{'cart.CartItems.Title'|translate}}</h3>
      <ul>
        <li *ngFor="let item of cartItems" class="cart-item">
          <div class="cart-item-details">
            {{ item.name }} - {{'cart.CartItems.Quantity'|translate}}: {{ item.quantity }} -
            {{'cart.CartItems.Weight'|translate}}: {{ item.weight }} kg - {{'cart.CartItems.Price'|translate}}: {{
            item.price  | currency }}
          </div>
        </li>
      </ul>
      <h3>{{'cart.CartItems.Total'|translate}}: {{ totalPrice | currency  }}</h3>
    </div>

    <button class="btn-finish" (click)="finishPurchase()">{{'Finish'|translate}}</button>
  </div>
</section>