<article [ngClass]="{'rtl': translate.currentLang  === 'ar', 'ltr': translate.currentLang  === 'en'}">
  <div class="flex-container">
    <div class="flex-container-col">
      <section class="listing-description">
        <h2 class="listing-details-heading">{{housingLocation?.name}}</h2>
        <p class="listing-details-location">{{housingLocation?.city}}</p>
        <p class="">Precio: {{housingLocation?.price}}</p>

        <ul>
          <li>Ubicación: {{housingLocation?.state}}</li>
          <li>Categoria: {{housingLocation?.category}}</li>
        </ul>
      </section>

      <section *ngIf="housingLocation?.category === 'HH'">
        <app-benefit-herbal-honey></app-benefit-herbal-honey>
      </section>

      <section *ngIf="housingLocation?.category === 'HC'">
        <h1>Es una prueba</h1>
        <p>A la espra de definir y preparar el resto de tipos De momemnto solo tengo lso benificios de la miel
          Milaflores
        </p>
      </section>
    </div>
    <div>
      <img class="listing-details-photo" [src]="housingLocation?.photo" alt="Exterior photo of {{housingLocation?.name}}" />
    </div>

   

    <section class="listing-apply">
      <!--<h2 class="section-heading">Apply now to live here</h2>
      <form [formGroup]="applyForm" (submit)="submitApplication()">
        <label for="first-name">First Name</label>
        <input id="first-name" type="text" formControlName="firstName">

        <label for="last-name">Last Name</label>
        <input id="last-name" type="text" formControlName="lastName">

        <label for="email">Email</label>
        <input id="email" type="email" formControlName="email">
        <button type="submit" class="primary">Apply now</button>
      </form> -->
    </section>
  </div>

</article>