<section class="flex-container">

   
        <section class="flex-item background-image newspaper-section"
            [ngClass]="{'rtl': translate.currentLang  === 'ar', 'ltr': translate.currentLang  === 'en'}">

            <div>
                <h3 class="title">{{'BenificesHerbalHoney.Title'| translate}}</h3>
                <p>{{'BenificesHerbalHoney.PHerbalHoney'| translate}}</p>

            </div>

        </section>
        <section class="flex-item background-image">
            <app-benefit-herbal-honey></app-benefit-herbal-honey>
        </section>
  


</section>