section {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Light grey background */
  }
  
 
  
  .flex-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  @media (min-width: 768px) {
 

  
    .newspaper-section p {
      flex: 1;
    }
  }